{% extends 'base.html' %}


{% block content %}


<form  method="POST">


        <div id="container-2"><h5 class="header-main"> ONLINE MASSAGE RESERVATION</h5></div>
        <div id="container-3">
            <div id="column1">


<div class="formpersonalinfo">

<p>Enter your email address below, and we will email the instructions for setting a new password.</p>
 {% csrf_token %}
        {{ form.as_p }}

        					<button class="generalbutton" type="submit">SUBMIT</button>
 </div>



			




            </div>
</form>

            <div id="column2">
                <button onclick="window.location.href = '{% url 'main' %}';" class="generalbutton">BACK TO HOME</button><br>
                <button onclick="window.location.href = '{% url 'createaccount' %}';" class="generalbutton">CREATE NEW ACCOUNT</button><br>
  
            </div>
        </div>

{% endblock %}