{% extends 'base.html' %}


{% block content %}


<form  method="POST">


        <div id="container-2"><h5 class="header-main"> ONLINE MASSAGE RESERVATION</h5></div>
        <div id="container-3">
            <div id="passwordresetconfirm">


<div class="formpersonalinfo">

{% if validlink %}

 {% csrf_token %}
        {{ form.as_p }}

        					<button class="generalbutton" type="submit">Change Password</button>
 </div>



<div class="formpersonalinfo">


{% else %}

<p>"The password reset link was invalid, possibly because it has already been used.  Please request a new password reset."</p>

{% endif %}

</div>

		
            </div>
</form>

            <div id="column2">
                <button onclick="window.location.href = '{% url 'main' %}';" class="generalbutton">BACK TO HOME</button><br>
                <button onclick="window.location.href = '{% url 'createaccount' %}';" class="generalbutton">CREATE NEW ACCOUNT</button><br>
  
            </div>
        </div>

{% endblock %}