{% extends 'base.html' %}

{% block content %}





        <div id="container-2"><h5 class="header-main"> ONLINE MASSAGE RESERVATION</h5></div>
        <div id="container-3">
            <div id="column1">

                    <div>
                      <h1>Check your inbox.</h1>
  <p>We've emailed you the instructions for setting your password. You should receive the email shortly!</p>
                    </div>

			




            </div>
</form>

            <div id="column2">
                <button onclick="window.location.href = '{% url 'main' %}';" class="generalbutton">BACK TO HOME</button><br>
                <button onclick="window.location.href = '{% url 'createaccount' %}';" class="generalbutton">CREATE NEW ACCOUNT</button><br>
  
            </div>



        </div>



{% endblock %}