{% extends 'base.html' %}

{% block content %}





        <div id="container-2"><h5 class="header-main"> ONLINE MASSAGE RESERVATION</h5></div>
        <div id="container-3">
            <div id="column1">

                    <div>
                     <h1>Password reset complete</h1>
<p>Your new password has been set. Please proceed to sign in. </p>
                    </div>

                <button onclick="window.location.href = '{% url 'login' %}';" class="generalbutton">SIGN IN</button><br>
			




            </div>
</form>

            <div id="column2">
                <button onclick="window.location.href = '{% url 'main' %}';" class="generalbutton">BACK TO HOME</button><br>
                <button onclick="window.location.href = '{% url 'createaccount' %}';" class="generalbutton">CREATE NEW ACCOUNT</button><br>
  
            </div>



        </div>



{% endblock %}