
{% extends 'base.html' %}
{% load static %}
{% block content %}

<div id="container-1">

    <div class="box-homeleft"><br><br><br><br>
      <p class="h1">NUAT THAI</p>
      <p class="h5">FOOT AND BODY MASSAGE</p><br><br>
      <p><a href="{% url 'main' %}" class="h3">Home</a></p>
      <p><a href="{% url 'options' %}" class="h3">Reservation</a></p>
      <p><a href="https://www.nuatthaiph.com/aboutus.html" class="h3">About Us</a></p>
      <p><a href="https://www.nuatthaiph.com/mission_vision.html" class="h3">Mission and Vision</a></p>
      <p><a href="https://www.nuatthaiph.com/branches.html"class="h3">Branches and Franchises</a></p>
      <p><a href="https://www.nuatthaiph.com/what's_new.html" class="h3">What's New</a></p>
      <p><a href="https://www.nuatthaiph.com/franchising.html" class="h3">Franchising</a></p>
      <p><a href="http://yourbusinessbranding.com/nuatthai/contact_us.html" class="h3">Contact Us</a></p><br>
    </div>
  
  
    <div class="box-homeright"></div>
</div> 

{% endblock %}